body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    padding: 40px;
}

form {
    background: white;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 12px;
}

input, select, button {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border-radius: 8px;
}

button {
    background-color: #2c3e50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #34495e;
}
